@tailwind base;
@tailwind components;
@tailwind utilities;


a {
  @apply text-orange-600 underline
}

a.active {
  @apply font-bold text-orange-800
}

button {
  @apply bg-sky-500 p-2 rounded-xl disabled:opacity-30 disabled:pointer-events-none hover:bg-sky-600 transition
}


input {
  @apply border border-black
}

h1 {
  @apply text-3xl
}
